* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.top {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  color: #fff;
  padding: 1%;
}

.time {
  background: #2e2c2c;
  color: #fff;
  padding: 2px 8px;
  border-radius: 50px;
  margin-left: 5px;
}

.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cartEmpty {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 200px;
}

.cartItem {
  width: 700px;
  /* height: 250px; */
  display: flex;
  gap: 30px;
  align-items: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  margin: 30px;
  padding: 20px;
}

.cartItem img {
  width: 200px;
  height: 200px;
}
.items{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.items button{
  color: #000;
}

.countHandler {
  /* margin: 4px 0; */
    display: flex;
    align-self: flex-start;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 50px;
  align-items: center;
  background: #f0eeee;
}
.countHandler input {
  width: 40px;
   border: none;
  outline: none;
  background: transparent;
  text-align: center;
  font-weight: bolder;
}
.countHandler button {
  background: transparent;
  border: none;
  cursor: pointer;
}
.checkoutContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkout button {
  width: 150px;
  height: 50px;
  background-color: rgb(19, 19, 19);
  color: white;
  border: none;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
}

.removeCartBttn {
  width: 20px;
  background-color: transparent;
  border: 2px solid rgb(19, 19, 19);
  min-width: 100px;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  color: #000;
}

.removeCartBttn:hover {
  background-color: rgb(19, 19, 19);
  color: white;
  cursor: pointer;
}



@media screen and (max-width: 468px) {
  .top {
    text-align: center;
  }
  .cartItem {
    width: 90%;
    padding: 3% ;
  }
  .cartItem img {
    width: 100px;
    height: 100px;
  }

  .items h1 {
    font-size: 16px;
  }
  .top {
    font-size: 12px;
    text-align: center;
    padding: 2%;
  }
}
