.footerContainer{
 padding: 2% 2% 1% ;
 background: #000;
 color: #757474;
 margin-top: 5%;
}
.footer{
 display: flex;
 align-items: start;
 justify-content: space-between;
}

.footerOrgInfo h1{
color: #fff;
margin: 0;
}
.footerOrgInfo{
 width: 20%;
}

.Links{
 display: flex;
 align-items: start;
 justify-content: space-between;
}
.footerLinks{
 margin-top: 0;
}

.footerLinks h2{
 color: #fff;
 margin: 0;
 margin-bottom: 16px;

}
.footerLinks li{
list-style: none;
margin-bottom: 10px;
}

.footerLogos{
 display: flex;
 gap: 20px;

}

.rights{
  display: flex;
  justify-content: end;
}

.footerCopyRights{
 display: flex;
 color: #fff;
 gap: 30px;
 text-align: right;
}

.copyRights{
text-align: center;
color: #fff;
margin: 0;
}

@media screen and (max-width:768px) {
  .footer{
 display: flex;
 flex-direction: column;
}
.footerOrgInfo{
 width: 60%;
}

.Links{
 display: flex;
 flex-direction: column;
}

.footerLinks{
  margin: 0;
  padding: 0;
}
.rights{
  justify-content: center;
}
}

@media screen and (max-width:468px) {
.footerCopyRights{
  display: none;
}
}
