* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.top {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1%;
  background: #000;
  color: #fff;
}

.time {
  background: #2e2c2c;
  color: #fff;
  padding: 2px 8px;
  border-radius: 50px;
  margin-left: 5px;
}

.mobileNav{
  display: none;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0px;
  width: 100%;
  padding: 2%;
}

.nav-img {
  position: relative;
}
.location {
  display: flex;
  align-items: center;
}
.search {
  height: 30px;
  display: flex;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 50px;
  align-items: center;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  background: #f0eeee;
}

.search:hover input {
  width: 150px;
}
.input {
  width: 0;
  border: none;
  outline: none;
  margin-left: 2px;
  transition: 0.8s;
  background: transparent;
}

.searchIcon {
  color: #000;
}

.homeInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  margin: 0 2%;
  border-radius: 25px;
  box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.3);
  padding: 2%;
}

.homeInfo h1 {
  font-size: 42px;
  display: flex;
  flex-direction: column;
}

.buyNow {
  background-color: #fff;
  border: 1px solid rgb(19, 19, 19);
  width: auto;
  padding: 5px 15px 5px 15px;
  border-radius: 5px;
  font-size: 18px;
  color: #000;
  margin-top: 10px;
  align-self: flex-start;
}

.buyNow:hover {
  background-color: rgb(19, 19, 19);
  color: white;
  cursor: pointer;
}

.homeImage {
  width: 700px;
  object-fit: cover;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  gap: 10px;
  padding: 0 2%;
}

.nav-links li {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

.userInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.Link {
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
}

.Link p {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: #000;
  padding: 2px 5px;
  border-radius: 25px;
}

.user {
  width: 40px;
  cursor: pointer;
}

.icons {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.jolt-info {
  position: absolute;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.jolt-info h1 {
  margin: 0;
}

.jolt-info p {
  text-align: center;
  width: 50%;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
}

.shopNowBttn {
  background-color: #fff;
  border: 2px solid rgb(19, 19, 19);
  min-width: 100px;
  padding: 5px 15px 5px 15px;
  border-radius: 5px;
  font-size: 18px;
}

.shopNowBttn:hover {
  background-color: rgb(19, 19, 19);
  color: white;
  cursor: pointer;
}
.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* mobile */
.mobileLogo{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2%;
}
.mobileSearch{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2%;
}
@media screen and (max-width: 768px) {
  .homeImage {
    width: 400px;
  }

  .homeInfo h1 {
    font-size: 28px;
  }
  .userInfo {
    gap: 10px;
  }

  .jolt-info h1 {
    font-size: 24px;
  }
  .jolt-info p {
    width: 80%;
    margin: 0;
  }
  .Link h1 {
    margin: 0;
  }
}

@media screen and (max-width: 468px) {
  .nav-links {
    display: none;
  }

  .homeInfo {
    flex-direction: column;
    gap: 30px;
    margin-top: 2%;
  }
  .homeImage {
    width: 300px;
    border-radius: 10px;
  }
  .nav {
    display: none;
  }
  .mobileNav{
  display: block;
}

  .user{
    width: 30px;
  }
  .Link h1 {
    font-size: 20px;
  }
  .jolt-info {
    display: none;
  }
  .top {
    font-size: 12px;
    text-align: center;
    padding: 2%;
  }

  .Link p {
    top: -4px;
    right: -2px;
    font-size: 10px;
    padding: 1px 3px;
  }
}
