* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.top {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  color: #fff;
  padding: 1%;
}

.time {
  background: #2e2c2c;
  color: #fff;
  padding: 2px 8px;
  border-radius: 50px;
  margin-left: 5px;
}
.productContent {
  /* margin: 2%; */
  border-radius: 10px;
  background-color: transparent;
  padding: 50px;
  /* box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2); */
}
.productItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.productImage {
  width: 400px;
  height: 400px;
  border-radius: 10px;
  padding: 25px;
  background-color: transparent;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
}
.info {
  font-weight: 600;
}

.category {
  color: #8b8a8a;
}
.price {
  font-size: 32px;
}

.desc {
  color: #8b8a8a;
  width: 60%;
}
.productDesc {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.addToCartBttn {
  background-color: transparent;
  border: 2px solid rgb(19, 19, 19);
  min-width: 100px;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}

.addToCartBttn:hover {
  background-color: rgb(19, 19, 19);
  color: white;
  cursor: pointer;
}

.delivery{
  font-size: 12px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 3px;
}

.successMessage {
    position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgreen;
  color: white;
  padding: 10px;
  margin-top: 0;
  text-align: center;
  font-size: 18px;
  transition: transform 0.5s ease-in-out;
width: 100%;
z-index: 999;
}

@media screen and (max-width: 768px) {
  .productItem {
    display: flex;
    flex-direction: column;
    align-items: start;
    /* justify-content: space-between; */
    gap: 50px;
  }

  .desc {
    color: #8b8a8a;
    width: 100%;
  }
  .productDesc {
    width: 100%;
  }
}

@media screen and (max-width: 468px) {
  .top {
    font-size: 12px;
    text-align: center;
    padding: 2%;
  }
  .productContent {
    padding: 2%;
  }
  .productItem {
    display: flex;
    flex-direction: column;
    align-items: start;
    /* justify-content: space-between; */
    gap: 10px;
  }
  .productImage {
    /* width: 100%; */
    width: 300px;
    height: 300px;
    /* height: 50%; */
    border-radius: 10px;
    padding: 2%;
    background-color: transparent;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
  }
  .desc {
    color: #8b8a8a;
    width: 100%;
  }
  .productDesc {
    width: 100%;
  }
}
